@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Vollkorn:ital,wght@0,400;0,800;1,400;1,800&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

body {
  background: url(images/noise.svg);
  background-color: #222;
  color: #d2d4c8;
  margin: 0;
  font-family: 'Vollkorn', serif;
  font-size: 1.4rem;
}

ul {
  list-style-type: none;
  margin: 5px 0 15px 0;
}

hr {
  height: 2px;
  border-width: 0;
  background: #e0e2db;
  margin: 0;
}

/* PAGE HEADER */
h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-size: 30px;
}

/* NAV HEADER */
h2 {
  font-size: 25px;
  padding: 0 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 0.1em;
}

/* NAV SECTION HEADER */
h4 {
  padding: 0 20px;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* SECTION HEADER*/
h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  margin-top:0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color:#889696;
}

::selection {
  color: #222;
  background: #889696;
}

.banner-container {
  display: table;
  width: 100%;
  background: url(images/HOME_BANNER.png);
  background-position: center;
  text-align: center;
  background-size: cover;
  height: 100vh;
  margin-bottom: 30px;
}

.logo-head {
  width: 50%;
  top: 10%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10%;
}

.call-to-action {
  color: #b8bdb5;
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10%;
  padding: 30px;
}

#info {}

.icon {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  padding: 30px;
  color: #889696;
  z-index: 999;
}

.home-container {
  display: flex;
}

.home-nav,
.premise,
.speaker {
  flex: 1;
}

.home-nav {
  background: #e0e2db;
  margin: 0 0 0 30px;
  color: #222;
}

.home-nav-content {
  position: relative;
  top: 25px;
}

.home-nav-content li a {
  color: #222 !important;
  transition: 0.2s;
}

.home-nav-content li a:hover {
  color: #e0e2db !important;
  letter-spacing: 0.1em;
  background: #222;
  padding: 0 5px;
  transition: 0.2s;
}

.premise {
  text-align: center;
  flex: 2;
  margin: 0 30px;
}

.premise-col {
  column-count: 2;
  column-fill: balance;
  column-gap: 20px;
  text-align: justify;
}

@media only screen and (max-width:900px) {
  .home-container {
    flex-direction: column;
  }

  .premise-col {
    column-count: 1;
  }

  .icon {
    display: block;
  }

  .home-nav {
    display: none;
  }

  .home-nav.responsive {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 998;
    text-align: center;
    overflow: auto;
  }

  .home-nav.responsive ul {
    padding: 0;
    line-height:2;
  }
}

.speaker {
  margin: 0 30px 0 0;
}

.discord-logo {
  background: url(images/DISCORD_LOGO.png);
  background-size: contain;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.discord-adv {
    padding: 20px;
    position: relative;
    left: 25%;
    bottom: 0;
    text-align: center;
    width: 50%;
}

.star-sm {
  width: 5%;
  padding: 10px;
}

.nav {
  width: 20%;
  float: left;
  overflow: hidden auto;
  color: #D2D4C8;
  display: block;
  height: 100vh;
}

.nav li a {
  color: #D2D4C8;
  transition: 0.2s;
}

.nav li a:hover {
  color: #889696;
  padding: 0 0 0 2px;
  transition: 0.2s;
}

.selected {
  background: #D2D4C8;
  padding: 0 50px 0 5px;
  color: #333 !important;
  letter-spacing: 0.1em;
  transition: 0.2s;
}

.selected:hover {
  padding: 0 50px 0 5px !important;
}

.desc {
  text-align: justify;
  padding: 5px 20px 20px 20px;
}

.content {
  display: block;
  background: url(images/noise_light.svg);
  margin-left: 20%;
  height: 100vh;
  position: absolute;
  margin-top: 0;
  padding: 0 30px;
  overflow: auto;
  text-align: justify;
}

.content-info {
  text-align: justify;
}

.rules {
  display: flex;
  flex-grow: 1;
}

.rules>.rule-list {
  flex: 1 1 auto;
  column-gap:0;
}

.rules>.rule-list:first-child {
  columns: 20em;
  flex-grow: 2;
}

.rules>.rule-list .rule {
  margin: 10px;
  padding: 10px;
  break-inside: avoid;
}

.rules>.rule-list .rule:first-child {
  margin-top: 0;
}

.faq .rule{
    background:#d2d4c8;
  color:#222;
}

.rules h2 {
  margin: 0;
}

.chatter {
    top: 50%;
    left: 50%;
    text-align: center;
    opacity: 0.5; 
}

.campaign-structure-graphic {
  display: flex;
    flex-wrap: wrap;
}

.chapter {
  height: 30px;
  flex: 1;
  margin: 30px 5px 0 5px;
  background: #D2D4C8;
}

.chapter:first-child {
  background: linear-gradient(to left, #D2D4C8, transparent);
}

.chapter:last-child {
  background: linear-gradient(to right, #D2D4C8, transparent);
}

.chapter p {
  position: relative;
  bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align:center;
}

.soul-classes {
  display: flex;
  flex-wrap: wrap;
}

.soulcolor {
  background:#e0e2db;
  color:#222;
  margin: 0.5em;
  padding: 1em;
  flex: 0 0 calc(33.333333% - 3em);
}

.soulcolor h5 {
  text-transform:uppercase;
    letter-spacing: 0.2rem;
}

.credit {
  display: flex;
  padding: 20px;
  flex: row wrap;
  gap: 20px;
}

.credit>.credit-sections {
  flex: 1;
}

@media only screen and (min-width:900px) {
  .setting {
    width: 30%;
    padding: 20px;
  }
  
  
    .wider {
    width: 50%;
    padding: 20px;
  }
  
  .credit {
   flex-direction: wrap; 
  }
  
  .chatter {
   position:absolute; 
  }
  
  .mechanics {
    column-count: 2;
  }
}

.logo-mini {
  width: 30px;
  padding: 5px;
}


@media only screen and (max-width:900px) {
  .icon {
    display: block;
  }

  .nav {
    display: none;
  }
  
  .soulcolor {
    flex:auto;
  }

  .nav.responsive {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 998;
    text-align: center;
    overflow: auto;
    background: url(images/noise.svg);
  }

  .nav.responsive ul {
    padding: 0;
    line-height:2;
  }

  .content {
    display: block;
    background: #2b2b2b;
    margin: 0;
    height: 100%;
    position: absolute;
    margin-top: 0;
    padding: 0 30px;
    overflow: auto;
  }

}


.copyright {
    color: #888888;
  text-align:center;
}
